html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.blue {
  background-color: rgba(23, 43, 160, 0.575);
  font-size: xx-large;
}

.header {
  background-color: #42A5F5;
}
.social {
  background-color: #42A5F5;
}
.social a {
  font-size: 24px;
  color: #fff;
  margin: 0px 10px;
  line-height: 60px;
  transition: all .3s ease;  
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}